<script>
// Script to look for code fences and add the class "expand" to them when they need to scroll horizontally
var elements = document.getElementsByTagName("pre");
function isHorizontallyScrollable(element) {
    return element.scrollWidth > element.clientWidth;
};
var sidebar = document.querySelector(".sidebar");
function hideSidebarWhenHovered(element) {
    element.addEventListener('mouseenter', e => {
        sidebar.classList.add("hide-for-horizontal-scroll");
    });
    element.addEventListener('mouseleave', e => {
        sidebar.classList.remove("hide-for-horizontal-scroll");
    });
};
Array.prototype.forEach.call(elements, function(el, i){
  if(isHorizontallyScrollable(el)) {
     el.classList.add("expand");
     hideSidebarWhenHovered(el);
  }
});
</script>
