<script>
// Script to look for code fences and add the class "expand" to them when they need to scroll horizontally
var elements = document.getElementsByTagName("pre");
function isHorizontallyScrollable(element) {
    return element.scrollWidth > element.clientWidth;
};
var sidebar = document.querySelector(".sidebar");
function hideSidebarWhenHovered(element) {
    element.addEventListener('mouseenter', e => {
        sidebar.classList.add("hide-for-horizontal-scroll");
    });
    element.addEventListener('mouseleave', e => {
        sidebar.classList.remove("hide-for-horizontal-scroll");
    });
};
Array.prototype.forEach.call(elements, function(el, i){
  if(isHorizontallyScrollable(el)) {
     el.classList.add("expand");
     hideSidebarWhenHovered(el);
  }
});
</script>

<script src="https://unpkg.com/in-view@0.6.1/dist/in-view.min.js"></script>
<script>
var lastElement = null;
const handleView = item => {
  const linkEl = document.querySelector(`a[href='#${item.id}']`);

  if(item.classList.contains("hide-from-toc")) {
    linkEl.classList.add("hide-from-toc");
    return;
  }

  let offsetHeight = 0.6*(window.innerHeight);
  inView.offset({
    bottom:offsetHeight
  });

  inView(`#${item.id}`)
    .on("enter", () => {
      if( lastElement != null) {
        lastElement.classList.remove('active');
      }
      if( linkEl != null) {
        linkEl.classList.add('active');
      }
      lastElement = linkEl;
  })
};

// Apply method on each DOM element
document.querySelectorAll("#content h1, #content h2, #content h3").forEach(handleView);

</script>
