/* Customise the header used in posts */
.header {
    max-width: 660px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-parent {
    background: rgb(61, 79, 93);
    color: #fffb;
    padding: 0 30px;
}

.header li a {
    text-decoration: none;
    color: #fffb;
    padding: 0.5em 1em;
    border-radius: 3px;
    transition: background 300ms;
}

.header li a:hover {
    background: #0004;
    color: #fffd;
}

.header li a.active {
    color: #fffe;
    font-weight: 600;
    text-decoration: underline;
}

.header li a:focus {
    background: #3334;
    color: #fffd;
}

.header .custom-menu-list li:first-of-type {
    align-self: flex-start;
}

.custom-menu-list p {
    margin: 0;
    padding: 0.5em 1em;
}

@media(min-width: 35.5em) {
    .header .custom-menu-list {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 35.5em) {
    .custom-menu-list .pure-menu-item {
        display: list-item;
    }
}
