.callout {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0.62em 0.2em 0.62em 1em;
    border-radius: 3px;
}

/* Tweak the looks of code fences inside callouts (the background colours don't match well) */
.callout pre {
    border-color: #ccc;
}

/* Added this block to allow expanding long (wide) blocks of code */
pre.expand:hover {
  transition-duration: 250ms;
  margin-right:-30vw;
  max-width:1600px;
  padding-right: 30px;
}

/* added this code style, based what was applied to code from github.css */
code {
    /* added JetBrains Mono font-family */
    font-family: "JetBrains Mono", Consolas, "Liberation Mono", Courier, monospace;
}

/* Customise the look of inline code */
p code {
    border-radius: 6px;
    padding: .2em .4em;
    font-size: 85%;
    background-color: #f8f8f8;
    border: 1px solid #ddd8;
    box-sizing: border-box;
    /* A bit of margin in case there is some punctuation just after the code */
    margin-right: .1em;
}

p code:hover {
    border-color: #0000;
    box-shadow: 1px 1px 3px #0009;
    transition: 400ms;
    color: #000;
}
