
.section-item {
    margin-bottom: 5em;

/* leaving some experiments commented out */
/* border: 1px solid #0005;
   padding: 1em;
   border-radius: 5px;
   box-shadow: 1px 1px 1px 1px #0005; */
}

.section-item:last-of-type {
    margin-bottom: 0;
}

.section-item h1 {
    font-size: 1.5em;
}

.section-item h2 {
    font-size: 1.25em;
}

.section-item-link {
    padding-top: 0.5em;
}
