name: Build project

#########
# This workflow needs to be kept in sync with release.yml
#########

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Meta information
      run: 'echo Event ref: ${{ github.ref }} Commit hash: ${{ github.sha }}'
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Cache Gradle packages
      uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build (Compile, lint, checkApi, test, etc)
      run: ./gradlew build
    - name: Archive build reports artifacts
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: build-reports
        path: '**/build/reports'
    - name: Ensure documentation is up to date
      id: doc-check
      run: |
        ./gradlew cleanDokka dokka
        # the next command will list documentation files out of date. Please run ./gradlew dokka
        #git diff --exit-code --name-only || echo ::set-output name=status::failure
        # the line above commented out due to a weird behaviour where styles.css is generated differently in my local
        # machine and github
        git diff --name-only
    - name: Check which documentation files have changed
      if: steps.doc-check.outputs.status == 'failure'
      run: git diff > git-diff.txt
    - name: Upload diff artifact of the documentation files
      uses: actions/upload-artifact@v2
      if: steps.doc-check.outputs.status == 'failure'
      with:
        name: git-diff
        path: git-diff.txt
    - name: Fail build due to documentation being out of date
      if: steps.doc-check.outputs.status == 'failure'
      run: |
        rm git-diff.txt
        echo Documentation is out of date, you need to run ./gradlew dokka and try again. The following files have changed:
        git diff --exit-code --name-only
